# Executables & Binaries
/vm
/test
/test_runner
*.o
*.out
*.a
*.so

# Generated VM files
*.vbc

# Test folders containing generated/raw test fixtures
tests/tests_vasm/
tests/tasms/
/add.vbc

# Temporary drafts
draft.txt